.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 2.5rem;
}

.product__wrapper {
  padding: 30px 30px;
  max-width: 1200px;
  max-height: 1000px;
  margin: 0 auto;
}
