.header__menu__nav-item {
  display: inline-block;
  margin-bottom: 0px;
  text-decoration: none;
}

.header__menu__nav-link {
  display: block;
  padding: 25px 20px;
  color: #e3e3e3;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background: transparent;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
}

.header__menu__nav-link:hover {
  color: #86bc42;
  transition: all 0.3s ease;
  text-decoration: none;
  background: transparent;
}
