#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 2.5rem;
}

.product__wrapper {
  padding: 30px 30px;
  max-width: 1200px;
  margin: 0 auto;
}
